DATABASE_URL=postgresql://USER:PAROL@ep-xxxx.region.aws.neon.tech/neondb?sslmode=require
BOT_TOKEN=
ADMIN_CHAT_IDS=
MINIAPP_URL=https://ippo-miniapp.vercel.app
ADMIN_URL=https://ippo-admin-six.vercel.app
PUBLIC_URL=
ADMIN_USERNAME=admin
ADMIN_PASSWORD=
JWT_SECRET=
COMPANY_PHONE=
COMPANY_ADDRESS=
PAYMENT_CARD=
PAYMENT_CARD_HOLDER=
PAYMENT_BANK=
NODE_VERSION=20
